.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.label {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  color: var(--color-text-primary);
  margin: 0;
  text-align: left;
}

.input {
  width: 404px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid var(--color-border-primary);
  padding: 15px 25px 16px 20px;
  background-color: transparent;
  color: var(--color-text-primary);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}


.input::placeholder {
  color: var(--color-text-placeholder);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.input:focus {
  border-color: var(--color-text-primary);
}

.input:hover {
  border-color: var(--color-text-primary);
  opacity: 0.5;
}

.input.error {
  border-color: #dc3545;
}

.errorText {
  color: #dc3545;
  font-size: 12px;
  font-weight: 400;
  margin-top: 4px;
}

/* Responsive tasarım */
@media (max-width: 768px) {
  .input {
    width: 100%;
    max-width: 404px;
  }
  
  .inputWrapper {
    width: 100%;
  }
}
